DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME_DEV=focus_development
DB_NAME_TEST=focus_test
RAILS_MASTER_KEY=

# Necessária para gerar os relatórios em PDF com IA.
GEMINI_API_KEY=

# Necessárias para autenticação com Google.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
