<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t("passwords.new.title") %></h1>

  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t("passwords.new.email_placeholder"), value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit t("passwords.new.submit"), class: "btn-primary inline-block min-h-12 w-full rounded-full px-6 py-3 text-center text-base font-semibold cursor-pointer sm:w-auto" %>
    </div>
  <% end %>
</div>
